{% extends "base.html" %}

{% block content %}

<div>
    <button id="filter-button" data-toggle="collapse" data-target="#filter-form">Filter</button>
    
    <button id="clear-button" class="btn btn-default">Clear Filters</button>
    
    <button id="new-spot-button" onclick="window.location.href='/spot/new'">New Spot</button>
</div>

<form id="filter-form" class="collapse">
  <div class="form-group">
    <label for="extended_info:app_type">App Type:</label>
    <div>
      <div><label><input type="radio" name="extended_info:app_type" value="food"> Food</label></div>
      <div><label><input type="radio" name="extended_info:app_type" value="study"> Study</label></div>
      <div><label><input type="radio" name="extended_info:app_type" value="tech"> Tech</label></div>
    </div>
  </div>

  <div class="form-group">
    <button type="submit">Apply</button>
  </div>
</form>

<div id="spot-grid">
    {% for spot in spots %}
    
    <div class="spot">
        <div class="spot-image" >
            {% if spot.images %}
            <!-- /api/v1/spot/1/image/1 -> /spot/1/image/1 -->
            <img src="{{ spot.images.0.url|slice:'7:' }}" alt="Image">
            {% else %}
            <img alt="no images">
            {% endif %}
        </div>
        <a class="spot-info" href="/spot/{{ spot.spot_id }}">
            <h3>{{ spot.name }}</h3>
        </a>
    </div>

    {% endfor %}
</div>

{% endblock %}

{% block styles %}
<style>
  .spot {
      display: inline-block;
      margin: 1rem;
      border: 1px solid #000;
      width: 10%;
  }

  .spot-image {
      height: 110px;
  }

  .spot-image > img {
      max-width: 100%;
      max-height: 100%;
  }

  .spot-info {
      background: #eee;
      flex: 1;
      display: flex;
      padding: 0 1rem;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      text-decoration: none;
      color: inherit;
  }
</style>
{% endblock %}


{% block scripts %}

<script>
  const clearButton = document.querySelector('#clear-button');

  clearButton.addEventListener('click', function() {
    const url = new URL(window.location.href);
    url.search = '';
    window.location.href = url.toString();
  });

  const filterButton = document.querySelector('#filter-button');
  const filterForm = document.querySelector('#filter-form');

  filterButton.addEventListener('click', function() {
    filterForm.classList.toggle('collapse');
  });
</script>

{% endblock %}
